In [5]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'D2Coding'
plt.rcParams['font.size'] = 15
import seaborn as sns
from plotnine import *
import missingno as msno
import folium
import requests

In [10]:
width = pd.read_csv('./data/h동북부면적.csv')
width

     시군구     행정동    면적
0   동대문구     회기동  0.76
1   동대문구    휘경1동  0.63
2   동대문구    휘경2동  1.05
3   동대문구    청량리동  1.20
4   동대문구     용신동  1.61
..   ...     ...   ...
91   노원구   상계10동  0.80
92   노원구  상계3.4동  5.05
93   노원구  상계6.7동  1.11
94   노원구  중계2.3동  0.90
95   노원구    공릉1동  1.41

[96 rows x 3 columns]

In [11]:
house = pd.read_csv('./data/h동북부실거래가.csv')
house = house.drop(columns=['Unnamed: 0'], axis=1)
house

    시군구   행정동  면적(㎡)당금액
0   강북구   미아동     738.0
1   강북구   번1동     840.0
2   강북구   번2동     886.0
3   강북구   번3동     960.0
4   강북구  삼각산동    1037.0
..  ...   ...       ...
90  중랑구  상봉2동    1165.0
91  중랑구  신내1동     852.0
92  중랑구  신내2동    1079.0
93  중랑구  중화1동     930.0
94  중랑구  중화2동     681.0

[95 rows x 3 columns]

In [13]:
school = pd.read_csv('./data/h동북부학교수.csv')
school = school.drop(columns=['Unnamed: 0'], axis=1)
school

     시군구     행정동  면적(㎢)당 학교 수
0    강북구     미아동         0.93
1    강북구    삼각산동         0.62
2    강북구     삼양동         0.91
3    강북구     송중동         1.01
4    강북구     송천동         0.45
5    강북구    수유1동         1.67
6    노원구    공릉2동         3.41
7    노원구   상계10동         0.80
8    노원구    상계1동         5.62
9    노원구  상계6.7동         1.11
10   노원구    상계8동         0.67
11   노원구    상계9동         0.40
12   노원구    월계1동         1.16
13   노원구    월계2동         0.48
14   노원구    중계1동         0.63
15   노원구  중계2.3동         0.30
16   노원구    중계4동         0.85
17   노원구    중계본동         0.66
18   노원구    하계1동         0.52
19   도봉구    도봉1동         8.72
20   도봉구    도봉2동         0.83
21   도봉구    방학1동         0.69
22   도봉구    쌍문1동         1.24
23   도봉구    쌍문4동         0.17
24   도봉구     창1동         0.88
25   도봉구     창4동         0.48
26  동대문구     용신동         1.61
27  동대문구    이문1동         1.04
28  동대문구    장안2동         1.09
29  동대문구    전농2동         0.43
30  동대문구     제기동         1.18
31  동대문구    청량리동         1.20
32  동대문구     회기동         0.76
33  동대문구    휘경2동         0.35
34   성북구    길음1동         0.79
35   성북구    돈암1동         0.49
36   성북구     동선동         0.73
37   성북구     삼선동         0.46
38   성북구     석관동         1.73
39   성북구     성북동         1.43
40   성북구     안암동         1.33
41   성북구    월곡1동         0.81
42   성북구    정릉3동         3.71
43   성북구    정릉4동         1.56
44   중랑구    망우3동         0.92
45   중랑구    망우본동         0.76
46   중랑구     묵1동         0.60
47   중랑구    상봉1동         0.88
48   중랑구    중화1동         0.64

In [21]:
academy = pd.read_csv('./data/h동북부학원수.csv')
academy = academy.drop(columns=['Unnamed: 0'], axis=1)
academy

    시군구     행정동  면적(㎢)당 학원 수
0   노원구    중계1동       101.59
1   노원구    중계본동        56.85
2   성북구     동선동        42.47
3   성북구    길음1동        40.51
4   강북구    삼각산동        40.32
..  ...     ...          ...
88  강북구    수유1동         1.20
89  성북구    정릉3동         0.81
90  노원구  상계3.4동         0.79
91  강북구     우이동         0.39
92  도봉구    도봉1동         0.23

[93 rows x 3 columns]

In [23]:
subway = pd.read_csv('./data/h동북부지하철수.csv')
subway = subway.drop(columns=['Unnamed: 0'], axis=1)
subway

     시군구     행정동  면적(㎢)당 역 수
0   동대문구     회기동         NaN
1   동대문구    휘경1동    1.587302
2   동대문구    휘경2동         NaN
3   동대문구    청량리동         NaN
4   동대문구     용신동    3.105590
..   ...     ...         ...
91   노원구   상계10동         NaN
92   노원구  상계3.4동    0.198020
93   노원구  상계6.7동    0.900901
94   노원구  중계2.3동    1.111111
95   노원구    공릉1동    2.127660

[96 rows x 3 columns]