In [10]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np
import pandas as pd

In [11]:
house = pd.read_csv('./data/w동북부실거래가단지.csv')
house = house.drop(columns=['Unnamed: 0'], axis=1)
house

     시군구             단지명         위도          경도   행정동  건축년도  면적(㎡)당금액
0    강북구       FIRSTVIEW  37.647560  127.015220  수유2동  2010     638.0
1    강북구          경남아너스빌  37.638005  127.024225  수유3동  2005     804.0
2    강북구  경남아너스빌(1356-0)  37.616356  127.035671   송중동  2003    1033.0
3    강북구              궁전  37.647272  127.012891   우이동  2003     438.0
4    강북구              극동  37.641791  127.012306   인수동  1992     696.0
..   ...             ...        ...         ...   ...   ...       ...
783  중랑구              현대  37.575176  127.089222  면목7동  1994     892.0
784  중랑구          현대아이파크  37.610695  127.073480   묵2동  2002     976.0
785  중랑구     현대휴앤미(102동)  37.603025  127.084498  중화1동  2007     697.0
786  중랑구            현대휴온  37.592240  127.078707  면목2동  2013     648.0
787  중랑구        화성.두산아파트  37.613859  127.094323  신내2동  1995    1011.0

[788 rows x 7 columns]

In [12]:
school = pd.read_csv('./data/w동북부학교.csv')
school = school.drop(columns=['Unnamed: 0'], axis=1)
school

                학교명         위도          경도   시군구
0            경동고등학교  37.586200  127.014664   성북구
1            경희고등학교  37.594912  127.054904  동대문구
2          경희여자고등학교  37.594927  127.051115  동대문구
3            계성고등학교  37.607710  127.020310   성북구
4   고려대학교사범대학부속고등학교  37.609816  127.001571   성북구
..              ...        ...         ...   ...
70           원묵고등학교  37.615506  127.086204   중랑구
71          삼각산고등학교  37.616287  127.020107   강북구
72         해성여자고등학교  37.580759  127.057155  동대문구
73           솔샘고등학교  37.624020  127.012109   강북구
74           휘봉고등학교  37.586508  127.068997  동대문구

[75 rows x 4 columns]

In [13]:
academy = pd.read_csv('./data/w동북부학원.csv')
academy = academy.drop(columns=['Unnamed: 0'], axis=1)
academy

      시군구     행정동          경도         위도
0     강북구    삼각산동  127.021121  37.615690
1     노원구    중계1동  127.075667  37.650865
2     중랑구    중화1동  127.083394  37.602089
3     성북구    정릉1동  127.015953  37.603006
4     중랑구    신내1동  127.098794  37.603244
...   ...     ...         ...        ...
1119  노원구    중계본동  127.078171  37.650903
1120  도봉구    방학1동  127.046658  37.665772
1121  성북구    길음2동  127.024953  37.609343
1122  노원구    중계본동  127.077803  37.651296
1123  노원구  상계6.7동  127.060878  37.651793

[1124 rows x 4 columns]

In [14]:
subway = pd.read_csv('./data/w동북부지하철역주소.csv')
subway = subway.drop(columns=['Unnamed: 0'], axis=1)
subway

           역한글명칭      환승역X좌표     환승역Y좌표   시군구
0   청량리(서울시립대입구)  127.044585  37.579956  동대문구
1     한성대입구(삼선교)  127.006221  37.588458   성북구
2       수유(강북구청)  127.025732  37.638052   강북구
3            제기동  127.034893  37.578103  동대문구
4             망우  127.091909  37.599550   중랑구
..           ...         ...        ...   ...
66     용두(동대문구청)  127.038091  37.574028  동대문구
67           당고개  127.079066  37.670272   노원구
68            도봉  127.045595  37.679563   도봉구
69            회기  127.057583  37.589460  동대문구
70            신내  127.102231  37.613174   중랑구

[71 rows x 4 columns]